[submodule "themes/dracula"]
	path = themes/dracula
	url = https://github.com/dracula/emacs.git
[submodule "lisp/elcord"]
	path = lisp/elcord
	url = git@github.com:Mstrodl/elcord.git
[submodule "lisp/renpy-mode"]
	path = lisp/renpy-mode
	url = git@github.com:Reagankm/renpy-mode.git
